@-moz-document url-prefix("https://mail.google.com/mail/u/0/") {
/* Get rid of those fisher-price toddler toy rounded corner radii */

.bkK > .nH {
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.gb_We {
  -moz-border-radius: 8px;
  border-radius: 4px;
}

}
